// Fonts
%sans-regular{
    font-family: 'CircularStd"', sans-serif;
    font-weight: 400;
}

%sans-black{
    font-family: 'CircularStd', sans-serif;
    font-weight: 900;
}


// Color
$main-color: #375BD2;
$white: #FFFFFF;
$line-color: #D4DBEA;
$gray: #3D4556;
$mirage: #0C162C;
$btn-color: #05C46B;
$shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
$bg-gray: #E5E5E5;
